* {
    background-color: aliceblue;
}
img {
    float: left;
}
.Main {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}
.container {
padding-top: 330px;
}
.container h2, h3 {
    font-family: 'Courier New', Courier, monospace;
}
}
#heading1{
    font-family: 'Courier New', Courier, monospace;
    background-color: darksalmon;
}
 a{
    color: maroon;
}
span{
    color:blue;
}
