* {
    background-color: bisque;
a {
    font-style: oblique;
    color: blue;
}
h1 {
background-color: darksalmon;
font-style: oblique;
}
h2, h3 {
    background-color: darkorange;
    font-style: oblique;

}