* {
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.gVVbC6n7VuiNWoTOd0_F1AHaEL&pid=15.1&P=0&w=275&h=156";
a {
    font-style: italic;
    color: blue;
}
h1 {
background-color: darksalmon;
font-style: oblique;
}
h2, h3 {
    background-color: darkorange;
    font-style: oblique;

}